@import "tailwindcss";

.playfair-display-700 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-red: hsl(0, 100%, 50%);
}

.red-text {
  color: var(--color-red);
}
