@import "tailwindcss";

@theme {
  --color-primary: hsla(216, 75%, 19%, 1);
  --color-secondary: hsla(199, 99%, 29%, 1);
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
